ENCORA_API_KEY=''
BOOTLEG_MAIN_DIRECTORY='/mnt/storage/disk-1/Musicals'
GENERATE_CAST_FILES='true'
GENERATE_ENCORAID_FILES='true'
REDOWNLOAD_SUBTITLES='false'
COLLECTION_PAGE_SIZE='200'
SHOW_FOLDER_FORMAT='{date} {highlights} {matinee} {show_name} ~ {master} {nft} {encora_id}'
SHOW_DIRECTORY_FORMAT='{show_name}/{tour}/{type}/'
EXCLUDED_IDS=''
EXCLUDE_FORMAT_UPDATE='false'
EXCLUDE_CAST_FILES='false'
DATE_CONTAINER='Brackets []'
NFT_CONTAINER='Brackets []'
MATINEE_CONTAINER='Parenthesis ()'
AMOUNT_CONTAINER='Parenthesis ()'
ENCORA_ID_CONTAINER='Curly Brackets {}'
DATE_REPLACE_CHAR='x'
